.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
out/
*.tmp
*.temp
*.bak
*.swp
*.swo
.vscode/
.idea/
*.code-workspace
ehthumbs.db
Icon?
Desktop.ini
.env
.env.*.local
.env.local
*.log
*.tgz
*.gz
*.zip
.cache/
.next/
.svelte-kit/
.storybook/
*.tsbuildinfo